@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    margin: 0;
    flex-direction: column;
     justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     flex: 1;
}

h1 {
    color: white;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 25px;
}

p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  line-height: 22px;
}

.hidden {
    display: none !important;
}

.rating-card {
    display: flex;
    align-items: flex-start;   
    text-align: left;
    background-color: hsl(213, 19%, 18%);
    width: 40%;
    border-radius: 20px;
    flex-direction: column;
    padding: 35px;
    height: auto;
}

.choices {
     display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
      width: 100%;   
      margin: 10px 0px;
}

.selected {
  background-color: hsl(25, 97%, 53%); 
  color: black; 
}


.submit-btn{
    align-self: center;
    width: 100%;
    margin-top: 15px;
    height: 45px;
    background-color: hsl(25, 97%, 53%);
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
}

button {
    background-color: hsl(213, 19%, 25%);
    height: 50px;
    width: 50px;
    border-radius: 45px;
    border: none;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    cursor: pointer;
}

.choices button:hover, .choices button:focus  {
     background-color: hsl(25, 97%, 53%);
    color: black;
    outline: none;
}


.icon {
    background-color: hsl(213, 19%, 25%);
    border-radius: 45px;
    padding: 15px;
}

.thank-you-card {
    display: flex;
    align-items: center;   
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    width: 40%;
    border-radius: 20px;
    flex-direction: column;
    padding: 35px;
    height: auto;
}

.selected-output {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 25%);
    border-radius: 45px;
    padding: 10px;
    margin: 30px 0px 0px 0px;
}

#thank-you-paragraph {
    text-align: center;
}



.attribution { font-size: 11px; text-align: center; color: hsl(0, 100%, 100%);}
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 600px) {
    .rating-card {
    width: 70%;
} 
button {
     height: 45px;
     width: 55px;
}
.thank-you-card {
    width: 70%;
}
.attribution {
    display: none;
}
}
